body {
    max-width: 1380px;
    margin: 0 auto;
}

.product-detail {
    padding: 20px;
}

.product-detail__title {
    font-size: 30px;
    color: #0056A6;
}

.product-detail__subtitle {
    color: #273552;
}

.product-detail__img {
    float: left;
}